In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

df = pd.read_csv('./seoul_4.csv')

In [2]:
df.head()

,gu_l,dong_l,s_c,used_y,square,per_cost_man,floor,YN_r,YN_top10,cost
0,0,8,1,32,77.75,1922.829582,7,1,1,149500
1,0,8,1,33,54.98,2619.134231,7,1,1,144000
2,0,8,1,33,79.97,2035.138177,7,1,1,162750
3,0,8,1,33,79.97,2000.750281,8,1,1,160000
4,0,8,1,33,79.97,1875.703389,5,1,1,150000

In [3]:
X = df.drop(['cost'], axis = 1)
y = df['cost']

X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                   test_size = 0.2,
                                                   random_state = 99)

In [5]:
%time
from xgboost import XGBRegressor,plot_importance

xgb = XGBRegressor(booster = 'gblinear',
                  n_estimators = 9000,
                  learning_rate = 0.001,
                  reg_lambda = 2.0, ## l2 파라미터, l1파라미터 => alpha
                  n_jobs = -1,
                  random_state = 99)

xgb.fit(X_train, y_train)

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 9.06 µs

XGBRegressor(base_score=0.5, booster='gblinear', colsample_bylevel=None,
             colsample_bynode=None, colsample_bytree=None, gamma=None,
             gpu_id=-1, importance_type='gain', interaction_constraints=None,
             learning_rate=0.001, max_delta_step=None, max_depth=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=9000, n_jobs=-1, num_parallel_tree=None,
             random_state=99, reg_alpha=0, reg_lambda=2.0, scale_pos_weight=1,
             subsample=None, tree_method=None, validate_parameters=1,
             verbosity=None)

In [6]:
MSE = mean_squared_error(y_test, xgb.predict(X_test))

In [7]:
from math import sqrt

print(f'MSE : {MSE}')
print(f'RMSE : {sqrt(MSE)}')

MSE : 814012716.9957609
RMSE : 28530.908099739147

In [10]:
xgb.predict(X_test)

array([93935.7  , 93809.66 , 43272.715, ..., 66099.17 , 34464.418,
       62556.246], dtype=float32)

In [11]:
import joblib

joblib.dump(xgb, 'xgb_model.pkl')

['xgb_model.pkl']

In [12]:
xgb_from_joblib = joblib.load('xgb_model.pkl') 
xgb_from_joblib.predict(X_test)

array([93935.7  , 93809.66 , 43272.715, ..., 66099.17 , 34464.418,
       62556.246], dtype=float32)